::selection {
    color: black;
    background-color: rgb(132, 255, 218);
}

body {
    background-color: black;
    color: rgb(255, 255, 255);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
}

.btn {
    font-size: 10px;
    margin: 1%;
    text-align: left;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(235, 226, 226);
    background-color:rgb(166, 202, 255);
    color: black;
    width: 9%;
}
.btn:hover {
    transition-property: width, opacity;
    transition-duration: 3s;
    transition-duration: 0.8s;
    width: 12%;
    opacity: 35%;
}
.social {
    text-decoration: none;
    font-weight: bold;
    margin-top: 2%;
    text-align: left;
    margin-left: 35%;
}

.ho-1 {
    text-align: left;
    margin-left: 25%;
}

.ho-2 {
    text-align: left;
    padding-left: 30%;
    margin:0.55%;
}

.ab {
    text-align: left;
    margin-left: 10%;
}

.ab-1 {
    text-align: left;
    margin-left: 20%;
}

@media screen and (max-width: 800px) {
    .btn {
        font-size: 0px;
        width: 15%;
    }
    .btn:hover {
        width: 18%;
    }
    .flex {
        flex-direction: column;
    }
}
